{% extends 'base_layout.html' %}
{% load i18n %}
{% load auth_extras %}
{% block title %} 
{% trans 'Publication' %}
{% endblock %}


{% block addCss %}
{% endblock %}

{% block content %}

    <div class="title-area d-flex flex-row align-items-center">
        <h2>{% trans 'Publication' %}</h2>
        <nav aria-label="breadcrumb" class="ml-auto">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Publication' %}</li>
            </ol>
        </nav>
    </div>
    
    <section id="only_list">
        {% with 0 as data %}  
        {% for post in posts %}
            {% if data != post.year %}
                <section id='{{ data|update_variable:post.year }}' >
                    <h3>{{ post.year }}</h3>
                </section>
            {% endif %}
            <div class="list-item">
                <div class="list_title">
                    <h6>{{ post.title }}</h6>
                </div>
                {{ post.information|safe }}
        
                {% if post.links %}
                {{ post.links|safe }}
                {% endif %}
        
                {% if post.pdf %}
                [<a href="{{ post.pdf.url }}"> PDF </a>]
                {% endif %}
            </div>
    
        {% endfor %}
        {% endwith %}  
    </section>
    
{% endblock %}

{% block mobileSidebar %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSidebar" aria-controls="navbarSidebar" aria-expanded="false" aria-label="Toggle navigation">
        <h5>{% trans 'Years' %} <i class="fas fa-angle-down"></i></h5>
    </button>
    <div class="collapse navbar-collapse mb-auto" id="navbarSidebar">
        <ul class="nav flex-column">
            {% for year in years %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#{{ year }}"><i class="fas fa-angle-right"></i> {{ year }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
    <h4>{% trans 'Years' %}</h4>
    <ul class="nav flex-column">
        {% for year in years %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#{{ year }}"><i class="fas fa-angle-right"></i> {{ year }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block addJS %}
{% endblock %}